<mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxFill>
        <a mat-icon-button
            routerLink="/home" 
            routerLinkActive="mat-accent">
            <mat-icon>home</mat-icon>
        </a>
        <a mat-icon-button
           routerLinkActive="mat-accent">
            <mat-icon>bar_chart</mat-icon>
        </a>
        <div fxFlex fxLayoutAlign="end">
            <a mat-icon-button 
               routerLink="/auth/login" 
               routerLinkActive="mat-accent">
                <mat-icon>login</mat-icon>
            </a>
        </div>
    </div>
</mat-toolbar>